<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link type="text/css" href="{{ url_for("static", filename="css/bootstrap.css") }}" rel="stylesheet"/>
    <link type="text/css" href="{{ url_for("static", filename="css/upload.css") }}" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="header-content">
            文件上传Demo
        </div>
    </header>
    <section>

    </section>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/bootstrap.js") }}"></script>
</body>
</html>